nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
}

a.active {
  color: hsl(237, 91%, 60%) !important;
}

.nav__header {
  font-size: 1.5rem;
}

.nav__route-list {
  gap: 1rem;
  display: flex;
  font-size: 1.125rem;
}
